body {
    background-color: cadetblue;
}

:root {
    --boxWidth: 150px;
    --boxHeight: 32px;
    --conMargin-top: -16px; 
}

.container {
    position: absolute;
    top: 50%;
    margin-top: var(--conMargin-top);
    left: 0;
    width: 100%;
}

.box {
    width: var(--boxWidth);
    height: var(--boxHeight);
}

.inputBox {
    margin: 0 auto;
}

input {
    color: #444444;
    width: 146px;
    height: 26px;
    border: 2px solid darkcyan;
    border-radius: 7px;
    background: rgb(102, 185, 185);
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

textarea:focus, input:focus{
    outline: none;
}

