<html>

<head>
    <meta charset="utf-8">
    <title>
        <%=Title%>
    </title>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <p>
        <% for(let i = 0; i < Nav.length; i++){%>
            <a href="<%=Nav[i].Link%>">
                <%=Nav[i].Text%>
            </a>
            <%}%>
    </p>

    <form id="inputs" action="/group" method="POST">
        <label>GroupName: </label>
        <input id="name" type="text" name="name" value="Fred">
        <br>
        <label>Deadline: </label>
        <input id="deadline" type="text" name="deadline" value="1511111453513">
        <br>
        <label>Message: </label>
        <input id="message" type="text" name="message" value="Drumpf">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>