<html>

<head>
    <title><%=Title%></title>
</head>

<body>
    <p>
        <% for(let i = 0; i < Nav.length; i++){%>
        <a href="<%=Nav[i].Link%>"><%=Nav[i].Text%></a>
        <%}%>
    </p> 
</body>

</html>